includes:
    - rules.neon
parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/*/data/*
        - tests/bootstrap.php
    ignoreErrors:
    # NoExtendsRule
    - '#Class .* is not allowed to extend "PHPStan\\Testing\\RuleTestCase"#'
    # FinalRule cannot be used with infection php
    - '#Class .* is neither abstract nor final#'
